* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v27_42 {
  width: 375px;
  height: 904px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_59 {
  width: 375px;
  height: 2px;
  background: rgba(217,218,220,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 0px;
  overflow: hidden;
}
.v27_8 {
  width: 100%;
  height: 109px;
  background: url("../images/v27_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 837px;
  overflow: hidden;
}
.v27_9 {
  width: 200px;
  height: 67px;
  background: url("../images/v27_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 88px;
  overflow: hidden;
}
.v27_10 {
  width: 197px;
  height: 65px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v27_60 {
  width: 266px;
  color: rgba(34,35,38,1);
  position: absolute;
  top: 143px;
  left: 55px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v27_61 {
  width: 348px;
  height: 36px;
  background: rgba(59,89,152,1);
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 14px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  overflow: hidden;
}
.v27_62 {
  width: 348px;
  height: 37px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 14px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  overflow: hidden;
}
.v27_63 {
  width: 348px;
  height: 37px;
  background: url("../images/v27_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 281px;
  left: 14px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  box-shadow: 0px 0px 0px rgba(0.3803921639919281, 0.3921568691730499, 0.40392157435417175, 1);
  overflow: hidden;
}
.v27_64 {
  width: 348px;
  height: 36px;
  background: url("../images/v27_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 14px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  box-shadow: 0px 0px 0px rgba(0.3803921639919281, 0.3921568691730499, 0.40392157435417175, 1);
  overflow: hidden;
}
.v27_65 {
  width: 279px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 204px;
  left: 48px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v27_66 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 248px;
  left: 70px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v27_67 {
  width: 280px;
  color: rgba(97,100,103,1);
  position: absolute;
  top: 292px;
  left: 48px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v27_68 {
  width: 295px;
  color: rgba(97,100,103,1);
  position: absolute;
  top: 332px;
  left: 40px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v27_69 {
  width: 375px;
  height: 2px;
  background: rgba(217,218,220,1);
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 0px;
  overflow: hidden;
}
.v27_70 {
  width: 450px;
  height: 3px;
  background: url("../images/v27_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 419px;
  left: 36px;
  overflow: hidden;
}
.v27_71 {
  width: 60px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 158px;
  overflow: hidden;
}
.v27_72 {
  width: 20px;
  color: rgba(34,35,38,1);
  position: absolute;
  top: 414px;
  left: 178px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v27_73 {
  width: 341px;
  height: 37px;
  background: rgba(232,240,254,1);
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 18px;
  border: 2px solid rgba(217,218,220,1);
  overflow: hidden;
}
.v27_74 {
  width: 341px;
  height: 37px;
  background: rgba(232,240,254,1);
  opacity: 1;
  position: absolute;
  top: 546px;
  left: 18px;
  border: 2px solid rgba(217,218,220,1);
  overflow: hidden;
}
.v27_75 {
  width: 295px;
  color: rgba(34,35,38,1);
  position: absolute;
  top: 448px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v27_76 {
  width: 60px;
  color: rgba(34,35,38,1);
  position: absolute;
  top: 520px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v27_77 {
  width: 152px;
  color: rgba(97,100,103,1);
  position: absolute;
  top: 600px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v27_79 {
  width: 8px;
  height: 9px;
  background: url("../images/v27_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 39px;
  overflow: hidden;
}
.v27_80 {
  width: 309px;
  background: rgba(217,218,220,1);
  opacity: 1;
  position: absolute;
  top: 688px;
  left: 34px;
  overflow: hidden;
}
.v27_81 {
  width: 309px;
  height: 1px;
  background: url("../images/v27_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 689px;
  left: 34px;
  overflow: hidden;
}
.v27_82 {
  width: 121px;
  color: rgba(97,100,103,1);
  position: absolute;
  top: 652px;
  left: 53px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v27_84 {
  width: 18px;
  height: 18px;
  background: rgba(29,185,84,1);
  opacity: 1;
  position: absolute;
  top: 655px;
  left: 29px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v27_85 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v27_86 {
  width: 375px;
  height: 1px;
  background: rgba(217,218,220,1);
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 0px;
  overflow: hidden;
}
.v27_87 {
  width: 323px;
  height: 34px;
  background: url("../images/v27_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 26px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  box-shadow: 0px 0px 0px rgba(0.3803921639919281, 0.3921568691730499, 0.40392157435417175, 1);
  overflow: hidden;
}
.v27_88 {
  width: 176px;
  color: rgba(34,35,38,1);
  position: absolute;
  top: 797px;
  left: 100px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v27_89 {
  width: 255px;
  color: rgba(97,100,103,1);
  position: absolute;
  top: 834px;
  left: 60px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
